doctype html
html
  head
    title=title
    link(rel='shortcut icon', href='/images/favicon.ico')
    link(rel='stylesheet', href='https://fonts.googleapis.com/
    script(src='/bower_components/webcomponentsjs/webcomponents-lite.min.js')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block polybuild
  body
    block content